
.chart_div{
    height:80%;
    top:20%;
    width:60%;
    position: absolute;
    border: 1vh solid grey;
    left: 1%;
}


/*
.court_svg{
    height:800px;
    width:400px;
    left:20px;
    transform: rotate(90deg);
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/be/Basketball_court_fiba.svg');
}*/

.court_svg{
    height:62.5%;
    width:100%;
    left: 0px;
    right:1%;
    bottom: 0px;
    position: absolute;
}

.team_container{
    width: 40%;
    top:0px;
    height:37.5%;
    position: absolute;
    border: 1vh solid black;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 1.75vh;
    color: black;
    font-weight: bold;
}
#team_a_container{
    left:0px;
    background-color:rgb(206, 255, 206);

}

.page_container{
    border:3px solid red;
    position: absolute;
    height: 290%;
    width: 100%;
}

.page_section{
    position: absolute;
    left:0%;
    width: 100%;
    border: 3px dashed chartreuse;
}

#part_1{
    top:0%;
    height:30%;
}

#part_2{
    top:30%;
    height:35%
}

#part_3{
    top:65%;
    height:35%
}
#team_b_container{
    right:0px;
    background-color: rgb(221, 174, 255);
}

.team_title{
    font-size:2vw;
    font-weight: bold;
    color: black;
}
.stat_container{
    border: 2px solid black;
    border-radius: 1vh;
    width:99%;
    height:12%;
    padding-left: 1px;
}

.game_info{
    width: 20%;
    left:40%;
    height: 37.5%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.75vh;
    color: black;
}

.vis_title{
    padding: 10px 0;
    margin: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    text-align: center;
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;

}

.demo_button_container{
    margin: auto;
    bottom: 0%;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1vh;
    font-weight: bold;

}

.slider{
    width:80%;
    max-height:10%;
}

.play_button{
    position: relative;
    display: table-cell; 
    vertical-align: bottom;
    font-size: 1.5vmax;
}

.stat{
    background-color: antiquewhite;
    right: 3%;
    display: inline;
    margin: auto;
    min-width: 12%;
    max-width:20%;
    align-items: stretch;
    position: absolute;
    text-align: right;
    border: 2px solid black;
}

.scoreboard{
    background-color: grey;
    border: 2px solid black;
    width: 100%;
    height: 37.5%;
}

.poss_counter{
    width:90%;
    margin: auto;
    max-height:20%;
    border: 2px solid black;
    position:relative;
    font-size: 1vw;
    text-align: left;
    font-weight: bold;
}

.sim_element{
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    background-color: antiquewhite;
    border: 2px solid black;
    position: relative;
}

#sims_title{
    padding-top: 5px;
    position: relative;
    align-items: center;
    justify-content: center;

}
#sim_pos_slider{
    position: relative;
    align-items: center;
    justify-content: center;

}
#pos_range_val{
    position: relative;
    float:right;
    width:20%;

}
#sim_speed_title{
    padding-top: 5px;
    position: relative;
    align-items: center;
    justify-content: center;

}
#sim_spd_slider{
    position: relative;
    align-items: center;
    justify-content: center;
}
#pos_speed_val{
    position: relative;
    float:right;
    width:20%;
}
#sim_play_button{
    position: relative;
    align-items: center;
    justify-content: center;
}

#spc{
    float:right;
    width:20%;
}
#fpc{
    float:right;
    width:20%;
}