body {
    font-family: monospace;
    font-size: 16px;
    color: #b0ffff;
    fill: #b0ffff;
}

/*https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html*/
.multicolortext {
    /*background-image: linear-gradient(to left,rgb(29, 17, 96), rgb(0, 120, 140));*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.drt_text{
    color: #3A0231;
    font-weight: 700;
    background-color: white;
  }
  
.ort_text{
   color: #00C0BA;
   font-weight: 700;
   background-color: white;
}

#netr_axis{
    right:21%;
    position: absolute;
    height: 60%;
    width: 10%;
    top:18%;
}
#bubble_svg{
    width: 70%;
    height: 60%;
    position:absolute;
    top: 15%;
    
}

#rating_svg{

    /*
    width: 99%;
    height: 60%;
    */
    overflow: hidden;
    position:absolute;
    bottom: 6px;
}

#page_title{
    font-size:3.5vw;
    padding-left:5%;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
}

.axis_title{
    font-weight: bold;
}

#player_menu{
    width: 20%;
    height: 85%;
    right: 1%;
    top: 15%;
    position: absolute;
    flex-wrap: wrap;
}

#pm_title{
    margin: auto;
    position: relative;
    font-weight: 700;
    font-size: 2vw;
    top: -2px;
    padding-left:2px;
    border-style: groove;
    border-radius: 10px;
    border-width: 2px;
}

#button_container{
    position: absolute;
    height: auto;
    border-color: black;
    border-radius: 10px;
    border-width: .5px;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    background-color: beige;
    color:#3A0231;
    font-size: 1.8vmin;
    max-height: 83%;
    overflow: scroll;
}

checkbox {
    margin: 0 auto;
}

label{
    padding-left: 5px;
}

.axis_label{
    color: #b0ffff;
}

#description_container{
    position: absolute;
    width:98%;
    height:40%;
    left: 1%;
    top:1%;
    display: block;
    font-size: 1.1vw;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 14px;
    background-color:rgb(171, 255, 247);
    padding: 2px;
    border: 2px solid grey;
    border-radius:10px;
    pointer-events: none;
    opacity: 1;
    color: black;
}

#sources_container{
    position: absolute;
    bottom: 2px;
    font-size: 1vmin;
    right: 2px;
    max-width: 100%;
    height: 10%;
    overflow: scroll;
}

#page_bottom_container{
    position: absolute;
    width: 75%;
    height: 25%;
    bottom: 2px;
    background-color: rgb(54, 54, 54);
    border-style: groove;
    border-radius: 20px;
    border-width: 2px;
}